/**
 * ----------------------------------------------------------------------------
 * [ Color palette ]
 * ----------------------------------------------------------------------------
 */

:root,
[data-bs-theme="light"] {
    /* Light gray */

    --bs-lightgray-hue: var(--bs-mauve-hue);
    --bs-lightgray-saturation: var(--bs-mauve-saturation);

    /* Dark gray */

    --bs-darkgray-hue: var(--bs-mauve-hue);
    --bs-darkgray-saturation: var(--bs-mauve-saturation);

    /* Magnify Cash pink */

    --mc-pink-hue: 0;
    --mc-pink-saturation: 97%;
    --mc-pink-100-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 90%;
    --mc-pink-200-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 85%;
    --mc-pink-300-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 80%;
    --mc-pink-400-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 75%;
    --mc-pink-500-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 65%;
    --mc-pink-600-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 50%;
    --mc-pink-700-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 35%;
    --mc-pink-800-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 20%;
    --mc-pink-900-hsl: var(--mc-pink-hue), var(--mc-pink-saturation), 10%;
    --mc-pink-100: hsl(var(--mc-pink-100-hsl));
    --mc-pink-200: hsl(var(--mc-pink-200-hsl));
    --mc-pink-300: hsl(var(--mc-pink-300-hsl));
    --mc-pink-400: hsl(var(--mc-pink-400-hsl));
    --mc-pink-500: hsl(var(--mc-pink-500-hsl));
    --mc-pink-600: hsl(var(--mc-pink-600-hsl));
    --mc-pink-700: hsl(var(--mc-pink-700-hsl));
    --mc-pink-800: hsl(var(--mc-pink-800-hsl));
    --mc-pink-900: hsl(var(--mc-pink-900-hsl));
    --mc-pink-hsl: var(--mc-pink-400-hsl);
    --mc-pink: hsl(var(--mc-pink-hsl));
    --mc-pink-foreground-hsl: var(--bs-white-hsl);
    --mc-pink-foreground: hsl(var(--mc-pink-foreground-hsl));
    --mc-pink-text-emphasis-hsl: var(--mc-pink-500-hsl);
    --mc-pink-text-emphasis: hsl(var(--mc-pink-text-emphasis-hsl));
    --mc-pink-hover-bg: var(--mc-pink-500);
    --mc-pink-active-bg: var(--mc-pink-600);
    --mc-pink-bg-subtle: hsl(
        var(--mc-pink-hue),
        var(--mc-pink-saturation),
        95%
    );
    --mc-pink-border-subtle: var(--mc-pink-400);
    --mc-pink-checkbox-svg: var(--bs-checkbox-svg-light);
    --mc-pink-dash-svg: var(--bs-dash-svg-light);
    --mc-pink-radio-svg: var(--bs-radio-svg-light);
    --mc-pink-switch-svg: var(--bs-switch-svg-light);

    /* Magnify Cash blue */

    --mc-blue-hue: 178;
    --mc-blue-saturation: 99%;
    --mc-blue-100-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 90%;
    --mc-blue-200-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 85%;
    --mc-blue-300-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 80%;
    --mc-blue-400-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 70%;
    --mc-blue-500-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 60%;
    --mc-blue-600-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 50%;
    --mc-blue-700-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 35%;
    --mc-blue-800-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 20%;
    --mc-blue-900-hsl: var(--mc-blue-hue), var(--mc-blue-saturation), 10%;
    --mc-blue-100: hsl(var(--mc-blue-100-hsl));
    --mc-blue-200: hsl(var(--mc-blue-200-hsl));
    --mc-blue-300: hsl(var(--mc-blue-300-hsl));
    --mc-blue-400: hsl(var(--mc-blue-400-hsl));
    --mc-blue-500: hsl(var(--mc-blue-500-hsl));
    --mc-blue-600: hsl(var(--mc-blue-600-hsl));
    --mc-blue-700: hsl(var(--mc-blue-700-hsl));
    --mc-blue-800: hsl(var(--mc-blue-800-hsl));
    --mc-blue-900: hsl(var(--mc-blue-900-hsl));
    --mc-blue-hsl: var(--mc-blue-500-hsl);
    --mc-blue: hsl(var(--mc-blue-hsl));
    --mc-blue-foreground-hsl: var(--bs-white-hsl);
    --mc-blue-foreground: hsl(var(--mc-blue-foreground-hsl));
    --mc-blue-text-emphasis-hsl: var(--mc-blue-500-hsl);
    --mc-blue-text-emphasis: hsl(var(--mc-blue-text-emphasis-hsl));
    --mc-blue-hover-bg: var(--mc-blue-600);
    --mc-blue-active-bg: var(--mc-blue-700);
    --mc-blue-bg-subtle: hsl(
        var(--mc-blue-hue),
        var(--mc-blue-saturation),
        95%
    );
    --mc-blue-border-subtle: var(--mc-blue-500);
    --mc-blue-checkbox-svg: var(--bs-checkbox-svg-light);
    --mc-blue-dash-svg: var(--bs-dash-svg-light);
    --mc-blue-radio-svg: var(--bs-radio-svg-light);
    --mc-blue-switch-svg: var(--bs-switch-svg-light);

    /* Primary */

    --bs-primary-hue: var(--mc-pink-hue);
    --bs-primary-saturation: var(--mc-pink-saturation);
    --bs-primary-100-hsl: var(--mc-pink-100-hsl);
    --bs-primary-200-hsl: var(--mc-pink-200-hsl);
    --bs-primary-300-hsl: var(--mc-pink-300-hsl);
    --bs-primary-400-hsl: var(--mc-pink-400-hsl);
    --bs-primary-500-hsl: var(--mc-pink-500-hsl);
    --bs-primary-600-hsl: var(--mc-pink-600-hsl);
    --bs-primary-700-hsl: var(--mc-pink-700-hsl);
    --bs-primary-800-hsl: var(--mc-pink-800-hsl);
    --bs-primary-900-hsl: var(--mc-pink-900-hsl);
    --bs-primary-100: var(--mc-pink-100);
    --bs-primary-200: var(--mc-pink-200);
    --bs-primary-300: var(--mc-pink-300);
    --bs-primary-400: var(--mc-pink-400);
    --bs-primary-500: var(--mc-pink-500);
    --bs-primary-600: var(--mc-pink-600);
    --bs-primary-700: var(--mc-pink-700);
    --bs-primary-800: var(--mc-pink-800);
    --bs-primary-900: var(--mc-pink-900);
    --bs-primary-hsl: var(--mc-pink-hsl);
    --bs-primary: var(--mc-pink);
    --bs-primary-foreground-hsl: var(--mc-pink-foreground-hsl);
    --bs-primary-foreground: var(--mc-pink-foreground);
    --bs-primary-text-emphasis-hsl: var(--mc-pink-text-emphasis-hsl);
    --bs-primary-text-emphasis: var(--mc-pink-text-emphasis);
    --bs-primary-hover-bg: var(--mc-pink-hover-bg);
    --bs-primary-active-bg: var(--mc-pink-active-bg);
    --bs-primary-bg-subtle: var(--mc-pink-bg-subtle);
    --bs-primary-border-subtle: var(--mc-pink-border-subtle);
    --bs-primary-checkbox-svg: var(--mc-pink-checkbox-svg);
    --bs-primary-dash-svg: var(--mc-pink-dash-svg);
    --bs-primary-radio-svg: var(--mc-pink-radio-svg);
    --bs-primary-switch-svg: var(--mc-pink-switch-svg);

    /* Info */

    --bs-info-hue: var(--mc-blue-hue);
    --bs-info-saturation: var(--mc-blue-saturation);
    --bs-info-100-hsl: var(--mc-blue-100-hsl);
    --bs-info-200-hsl: var(--mc-blue-200-hsl);
    --bs-info-300-hsl: var(--mc-blue-300-hsl);
    --bs-info-400-hsl: var(--mc-blue-400-hsl);
    --bs-info-500-hsl: var(--mc-blue-500-hsl);
    --bs-info-600-hsl: var(--mc-blue-600-hsl);
    --bs-info-700-hsl: var(--mc-blue-700-hsl);
    --bs-info-800-hsl: var(--mc-blue-800-hsl);
    --bs-info-900-hsl: var(--mc-blue-900-hsl);
    --bs-info-100: var(--mc-blue-100);
    --bs-info-200: var(--mc-blue-200);
    --bs-info-300: var(--mc-blue-300);
    --bs-info-400: var(--mc-blue-400);
    --bs-info-500: var(--mc-blue-500);
    --bs-info-600: var(--mc-blue-600);
    --bs-info-700: var(--mc-blue-700);
    --bs-info-800: var(--mc-blue-800);
    --bs-info-900: var(--mc-blue-900);
    --bs-info-hsl: var(--mc-blue-hsl);
    --bs-info: var(--mc-blue);
    --bs-info-foreground-hsl: var(--mc-blue-foreground-hsl);
    --bs-info-foreground: var(--mc-blue-foreground);
    --bs-info-text-emphasis-hsl: var(--mc-blue-text-emphasis-hsl);
    --bs-info-text-emphasis: var(--mc-blue-text-emphasis);
    --bs-info-hover-bg: var(--mc-blue-hover-bg);
    --bs-info-active-bg: var(--mc-blue-active-bg);
    --bs-info-bg-subtle: var(--mc-blue-bg-subtle);
    --bs-info-border-subtle: var(--mc-blue-border-subtle);
    --bs-info-checkbox-svg: var(--mc-blue-checkbox-svg);
    --bs-info-dash-svg: var(--mc-blue-dash-svg);
    --bs-info-radio-svg: var(--mc-blue-radio-svg);
    --bs-info-switch-svg: var(--mc-blue-switch-svg);
}

[data-bs-theme="dark"] {
    /* Magnify Cash pink */

    --mc-pink-text-emphasis-hsl: var(--mc-pink-400-hsl);
    --mc-pink-text-emphasis: hsl(var(--mc-pink-text-emphasis-hsl));
    --mc-pink-bg-subtle: hsl(
        var(--mc-pink-hue),
        calc(var(--mc-pink-saturation) / 3),
        15%
    );
    --mc-pink-border-subtle: var(--mc-pink-600);

    /* Magnify Cash blue */

    --mc-blue-text-emphasis-hsl: var(--mc-blue-400-hsl);
    --mc-blue-text-emphasis: hsl(var(--mc-blue-text-emphasis-hsl));
    --mc-blue-bg-subtle: hsl(
        var(--mc-blue-hue),
        calc(var(--mc-blue-saturation) / 3),
        15%
    );
    --mc-blue-border-subtle: var(--mc-blue-600);

    /* Primary */

    --bs-primary-text-emphasis-hsl: var(--mc-pink-text-emphasis-hsl);
    --bs-primary-text-emphasis: var(--mc-pink-text-emphasis);
    --bs-primary-bg-subtle: var(--mc-pink-bg-subtle);
    --bs-primary-border-subtle: var(--mc-pink-border-subtle);

    /* Info */

    --bs-info-text-emphasis-hsl: var(--mc-blue-text-emphasis-hsl);
    --bs-info-text-emphasis: var(--mc-blue-text-emphasis);
    --bs-info-bg-subtle: var(--mc-blue-bg-subtle);
    --bs-info-border-subtle: var(--mc-blue-border-subtle);
}

/**
 * ----------------------------------------------------------------------------
 * [ Variables ]
 * ----------------------------------------------------------------------------
 */

@font-face {
    font-family: "BaiJamjuree";
    src: url("BaiJamjuree-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "BaiJamjuree";
    src: url("BaiJamjuree-Bold.ttf");
    font-weight: bold;
}

:root,
[data-bs-theme="light"] {
    /* Font family */

    --bs-font-sans-serif: "BaiJamjuree", sans-serif;

    /* Color */

    --bs-body-color-hsl: var(--bs-color-hue), var(--bs-color-saturation), 0%;

    /* Action (used as needed in buttons, inputs, menu items, page links, etc.) */

    --bs-action-padding-x: 0.625rem;
    --bs-action-padding-y: 0.375rem;
    --bs-action-sm-padding-x: 0.5rem;
    --bs-action-sm-padding-y: 0.25rem;
    --bs-action-lg-padding-x: 0.75rem;
    --bs-action-lg-padding-y: 0.5rem;

    /* Form */

    --bs-form-focus-border-color: var(--bs-primary-border-subtle);
    --bs-form-check-focus-border-color: var(--bs-primary-border-subtle);
}

[data-bs-theme="dark"] {
    /* Color */

    --bs-body-color-hsl: var(--bs-color-hue), var(--bs-color-saturation), 95%;

    /* Action (used as needed in buttons, inputs, menu items, page links, etc.) */

    --bs-action-border-color: var(--bs-border-color);

    /* Contextual buttons */

    --bs-ctx-btn-border-color: transparent;
    --bs-ctx-btn-bg-clip: border-box;
}

/**
 * ----------------------------------------------------------------------------
 * [ Buttons ]
 * ----------------------------------------------------------------------------
 */

.btn {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus-visible {
    border: var(--bs-border-width) solid hsla(var(--bs-primary-hsl), 0.25) !important;
    text-decoration: none;
}

.btn-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}

/**
 * ----------------------------------------------------------------------------
 * [ Dropdowns ]
 * ----------------------------------------------------------------------------
 */

.dropdown-menu {
    border: 0;
}

/**
 * ----------------------------------------------------------------------------
 * [ Sidebar ]
 * ----------------------------------------------------------------------------
 */

.sidebar {
    --bs-sidebar-bg: #fbfbff;
}

[data-bs-theme="dark"] .sidebar {
    --bs-sidebar-bg: hsl(
        var(--mc-pink-hue),
        calc(var(--mc-pink-saturation) / 3),
        12.5%
    );
}
