/**
 * ----------------------------------------------------------------------------
 * [ Color palette ]
 * ----------------------------------------------------------------------------
 */

:root,
[data-bs-theme=light] {
	/* SocialPass purple */

	--nf-purple-hue: 262;
	--nf-purple-saturation: 59%;
	--nf-purple-100-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 90%;
	--nf-purple-200-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 80%;
	--nf-purple-300-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 70%;
	--nf-purple-400-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 60%;
	--nf-purple-500-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 50%;
	--nf-purple-600-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 40%;
	--nf-purple-700-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 30%;
	--nf-purple-800-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 20%;
	--nf-purple-900-hsl: var(--nf-purple-hue), var(--nf-purple-saturation), 10%;
	--nf-purple-100: hsl(var(--nf-purple-100-hsl));
	--nf-purple-200: hsl(var(--nf-purple-200-hsl));
	--nf-purple-300: hsl(var(--nf-purple-300-hsl));
	--nf-purple-400: hsl(var(--nf-purple-400-hsl));
	--nf-purple-500: hsl(var(--nf-purple-500-hsl));
	--nf-purple-600: hsl(var(--nf-purple-600-hsl));
	--nf-purple-700: hsl(var(--nf-purple-700-hsl));
	--nf-purple-800: hsl(var(--nf-purple-800-hsl));
	--nf-purple-900: hsl(var(--nf-purple-900-hsl));
	--nf-purple-hsl: var(--nf-purple-500-hsl);
	--nf-purple: hsl(var(--nf-purple-hsl));
	--nf-purple-foreground-hsl: var(--bs-white-hsl);
	--nf-purple-foreground: hsl(var(--nf-purple-foreground-hsl));
	--nf-purple-text-emphasis-hsl: var(--nf-purple-600-hsl);
	--nf-purple-text-emphasis: hsl(var(--nf-purple-text-emphasis-hsl));
	--nf-purple-hover-bg: var(--nf-purple-600);
	--nf-purple-active-bg: var(--nf-purple-700);
	--nf-purple-bg-subtle: hsl(var(--nf-purple-hue), var(--nf-purple-saturation), 95%);
	--nf-purple-border-subtle: var(--nf-purple-400);
	--nf-purple-checkbox-svg: var(--bs-checkbox-svg-light);
	--nf-purple-dash-svg: var(--bs-dash-svg-light);
	--nf-purple-radio-svg: var(--bs-radio-svg-light);
	--nf-purple-switch-svg: var(--bs-switch-svg-light);

	/* SocialPass orange */

	--nf-orange-hue: 25;
	--nf-orange-saturation: 87%;
	--nf-orange-100-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 90%;
	--nf-orange-200-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 80%;
	--nf-orange-300-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 70%;
	--nf-orange-400-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 60%;
	--nf-orange-500-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 50%;
	--nf-orange-600-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 40%;
	--nf-orange-700-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 30%;
	--nf-orange-800-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 20%;
	--nf-orange-900-hsl: var(--nf-orange-hue), var(--nf-orange-saturation), 10%;
	--nf-orange-100: hsl(var(--nf-orange-100-hsl));
	--nf-orange-200: hsl(var(--nf-orange-200-hsl));
	--nf-orange-300: hsl(var(--nf-orange-300-hsl));
	--nf-orange-400: hsl(var(--nf-orange-400-hsl));
	--nf-orange-500: hsl(var(--nf-orange-500-hsl));
	--nf-orange-600: hsl(var(--nf-orange-600-hsl));
	--nf-orange-700: hsl(var(--nf-orange-700-hsl));
	--nf-orange-800: hsl(var(--nf-orange-800-hsl));
	--nf-orange-900: hsl(var(--nf-orange-900-hsl));
	--nf-orange-hsl: var(--nf-orange-500-hsl);
	--nf-orange: hsl(var(--nf-orange-hsl));
	--nf-orange-foreground-hsl: var(--bs-white-hsl);
	--nf-orange-foreground: hsl(var(--nf-orange-foreground-hsl));
	--nf-orange-text-emphasis-hsl: var(--nf-orange-600-hsl);
	--nf-orange-text-emphasis: hsl(var(--nf-orange-text-emphasis-hsl));
	--nf-orange-hover-bg: var(--nf-orange-600);
	--nf-orange-active-bg: var(--nf-orange-700);
	--nf-orange-bg-subtle: hsl(var(--nf-orange-hue), var(--nf-orange-saturation), 95%);
	--nf-orange-border-subtle: var(--nf-orange-400);
	--nf-orange-checkbox-svg: var(--bs-checkbox-svg-light);
	--nf-orange-dash-svg: var(--bs-dash-svg-light);
	--nf-orange-radio-svg: var(--bs-radio-svg-light);
	--nf-orange-switch-svg: var(--bs-switch-svg-light);

	/* Primary */

	--bs-primary-hue: var(--nf-purple-hue);
	--bs-primary-saturation: var(--nf-purple-saturation);
	--bs-primary-100-hsl: var(--nf-purple-100-hsl);
	--bs-primary-200-hsl: var(--nf-purple-200-hsl);
	--bs-primary-300-hsl: var(--nf-purple-300-hsl);
	--bs-primary-400-hsl: var(--nf-purple-400-hsl);
	--bs-primary-500-hsl: var(--nf-purple-500-hsl);
	--bs-primary-600-hsl: var(--nf-purple-600-hsl);
	--bs-primary-700-hsl: var(--nf-purple-700-hsl);
	--bs-primary-800-hsl: var(--nf-purple-800-hsl);
	--bs-primary-900-hsl: var(--nf-purple-900-hsl);
	--bs-primary-100: var(--nf-purple-100);
	--bs-primary-200: var(--nf-purple-200);
	--bs-primary-300: var(--nf-purple-300);
	--bs-primary-400: var(--nf-purple-400);
	--bs-primary-500: var(--nf-purple-500);
	--bs-primary-600: var(--nf-purple-600);
	--bs-primary-700: var(--nf-purple-700);
	--bs-primary-800: var(--nf-purple-800);
	--bs-primary-900: var(--nf-purple-900);
	--bs-primary-hsl: var(--nf-purple-hsl);
	--bs-primary: var(--nf-purple);
	--bs-primary-foreground-hsl: var(--nf-purple-foreground-hsl);
	--bs-primary-foreground: var(--nf-purple-foreground);
	--bs-primary-text-emphasis-hsl: var(--nf-purple-text-emphasis-hsl);
	--bs-primary-text-emphasis: var(--nf-purple-text-emphasis);
	--bs-primary-hover-bg: var(--nf-purple-hover-bg);
	--bs-primary-active-bg: var(--nf-purple-active-bg);
	--bs-primary-bg-subtle: var(--nf-purple-bg-subtle);
	--bs-primary-border-subtle: var(--nf-purple-border-subtle);
	--bs-primary-checkbox-svg: var(--nf-purple-checkbox-svg);
	--bs-primary-dash-svg: var(--nf-purple-dash-svg);
	--bs-primary-radio-svg: var(--nf-purple-radio-svg);
	--bs-primary-switch-svg: var(--nf-purple-switch-svg);

	/* Info */

	--bs-info-hue: var(--bs-violet-hue);
	--bs-info-saturation: var(--bs-violet-saturation);
	--bs-info-100-hsl: var(--bs-violet-100-hsl);
	--bs-info-200-hsl: var(--bs-violet-200-hsl);
	--bs-info-300-hsl: var(--bs-violet-300-hsl);
	--bs-info-400-hsl: var(--bs-violet-400-hsl);
	--bs-info-500-hsl: var(--bs-violet-500-hsl);
	--bs-info-600-hsl: var(--bs-violet-600-hsl);
	--bs-info-700-hsl: var(--bs-violet-700-hsl);
	--bs-info-800-hsl: var(--bs-violet-800-hsl);
	--bs-info-900-hsl: var(--bs-violet-900-hsl);
	--bs-info-100: var(--bs-violet-100);
	--bs-info-200: var(--bs-violet-200);
	--bs-info-300: var(--bs-violet-300);
	--bs-info-400: var(--bs-violet-400);
	--bs-info-500: var(--bs-violet-500);
	--bs-info-600: var(--bs-violet-600);
	--bs-info-700: var(--bs-violet-700);
	--bs-info-800: var(--bs-violet-800);
	--bs-info-900: var(--bs-violet-900);
	--bs-info-hsl: var(--bs-violet-hsl);
	--bs-info: var(--bs-violet);
	--bs-info-foreground-hsl: var(--bs-violet-foreground-hsl);
	--bs-info-foreground: var(--bs-violet-foreground);
	--bs-info-text-emphasis-hsl: var(--bs-violet-text-emphasis-hsl);
	--bs-info-text-emphasis: var(--bs-violet-text-emphasis);
	--bs-info-hover-bg: var(--bs-violet-hover-bg);
	--bs-info-active-bg: var(--bs-violet-active-bg);
	--bs-info-bg-subtle: var(--bs-violet-bg-subtle);
	--bs-info-border-subtle: var(--bs-violet-border-subtle);
	--bs-info-checkbox-svg: var(--bs-violet-checkbox-svg);
	--bs-info-dash-svg: var(--bs-violet-dash-svg);
	--bs-info-radio-svg: var(--bs-violet-radio-svg);
	--bs-info-switch-svg: var(--bs-violet-switch-svg);

	/* Warning */

	--bs-warning-hue: var(--nf-orange-hue);
	--bs-warning-saturation: var(--nf-orange-saturation);
	--bs-warning-100-hsl: var(--nf-orange-100-hsl);
	--bs-warning-200-hsl: var(--nf-orange-200-hsl);
	--bs-warning-300-hsl: var(--nf-orange-300-hsl);
	--bs-warning-400-hsl: var(--nf-orange-400-hsl);
	--bs-warning-500-hsl: var(--nf-orange-500-hsl);
	--bs-warning-600-hsl: var(--nf-orange-600-hsl);
	--bs-warning-700-hsl: var(--nf-orange-700-hsl);
	--bs-warning-800-hsl: var(--nf-orange-800-hsl);
	--bs-warning-900-hsl: var(--nf-orange-900-hsl);
	--bs-warning-100: var(--nf-orange-100);
	--bs-warning-200: var(--nf-orange-200);
	--bs-warning-300: var(--nf-orange-300);
	--bs-warning-400: var(--nf-orange-400);
	--bs-warning-500: var(--nf-orange-500);
	--bs-warning-600: var(--nf-orange-600);
	--bs-warning-700: var(--nf-orange-700);
	--bs-warning-800: var(--nf-orange-800);
	--bs-warning-900: var(--nf-orange-900);
	--bs-warning-hsl: var(--nf-orange-hsl);
	--bs-warning: var(--nf-orange);
	--bs-warning-foreground-hsl: var(--nf-orange-foreground-hsl);
	--bs-warning-foreground: var(--nf-orange-foreground);
	--bs-warning-text-emphasis-hsl: var(--nf-orange-text-emphasis-hsl);
	--bs-warning-text-emphasis: var(--nf-orange-text-emphasis);
	--bs-warning-hover-bg: var(--nf-orange-hover-bg);
	--bs-warning-active-bg: var(--nf-orange-active-bg);
	--bs-warning-bg-subtle: var(--nf-orange-bg-subtle);
	--bs-warning-border-subtle: var(--nf-orange-border-subtle);
	--bs-warning-checkbox-svg: var(--nf-orange-checkbox-svg);
	--bs-warning-dash-svg: var(--nf-orange-dash-svg);
	--bs-warning-radio-svg: var(--nf-orange-radio-svg);
	--bs-warning-switch-svg: var(--nf-orange-switch-svg);
}

[data-bs-theme=dark] {
	/* SocialPass purple */

	--nf-purple-text-emphasis-hsl: var(--nf-purple-400-hsl);
	--nf-purple-text-emphasis: hsl(var(--nf-purple-text-emphasis-hsl));
	--nf-purple-bg-subtle: hsl(var(--nf-purple-hue), calc(var(--nf-purple-saturation)/3), 15%);
	--nf-purple-border-subtle: var(--nf-purple-600);

	/* SocialPass orange */

	--nf-orange-text-emphasis-hsl: var(--nf-orange-400-hsl);
	--nf-orange-text-emphasis: hsl(var(--nf-orange-text-emphasis-hsl));
	--nf-orange-bg-subtle: hsl(var(--nf-orange-hue), calc(var(--nf-orange-saturation)/3), 15%);
	--nf-orange-border-subtle: var(--nf-orange-600);

	/* Primary */

	--bs-primary-text-emphasis-hsl: var(--nf-purple-text-emphasis-hsl);
	--bs-primary-text-emphasis: var(--nf-purple-text-emphasis);
	--bs-primary-bg-subtle: var(--nf-purple-bg-subtle);
	--bs-primary-border-subtle: var(--nf-purple-border-subtle);

	/* Info */

	--bs-info-text-emphasis-hsl: var(--bs-violet-text-emphasis-hsl);
	--bs-info-text-emphasis: var(--bs-violet-text-emphasis);
	--bs-info-bg-subtle: var(--bs-violet-bg-subtle);
	--bs-info-border-subtle: var(--bs-violet-border-subtle);

	/* Warning */

	--bs-warning-text-emphasis-hsl: var(--nf-orange-text-emphasis-hsl);
	--bs-warning-text-emphasis: var(--nf-orange-text-emphasis);
	--bs-warning-bg-subtle: var(--nf-orange-bg-subtle);
	--bs-warning-border-subtle: var(--nf-orange-border-subtle);
}

/**
 * ----------------------------------------------------------------------------
 * [ Variables ]
 * ----------------------------------------------------------------------------
 */

@font-face {
	font-family: "Urbane";
	src: url("/theme/fonts/Urbane-Medium");
	font-weight: normal;
}

@font-face {
	font-family: "Urbane";
	src: url("/theme/fonts/Urbane-Bold");
	font-weight: bold;
}

:root,
[data-bs-theme=light] {
	/* Font family */

	--bs-font-sans-serif: "Urbane", sans-serif;

	/* Font size */

	--bs-font-size-base: 1rem;
	--bs-font-size-sm: 0.875rem;
	--bs-font-size-lg: 1.125rem;
	--bs-relative-font-size-sm: 0.875em; 	/* 14px */
	--bs-relative-font-size-xs: 0.75em; 	/* 12px */
	--bs-relative-font-size-2xs: 0.625em; 	/* 10px */
	--bs-relative-font-size-3xs: 0.5em; 	/* 8px */
	--bs-relative-font-size-4xs: 0.375em; 	/* 6px */
	--bs-relative-font-size-5xs: 0.25em; 	/* 4px */
	--bs-relative-font-size-6xs: 0.125em; 	/* 2px */
	--bs-relative-font-size-7xs: 0.075em; 	/* 1px */

	/* Action (used as needed in buttons, inputs, menu items, page links, etc.) */

	--bs-action-padding-x: 0.625rem;
	--bs-action-padding-y: 0.375rem;
	--bs-action-sm-padding-x: 0.5rem;
	--bs-action-sm-padding-y: 0.25rem;
	--bs-action-lg-padding-x: 0.75rem;
	--bs-action-lg-padding-y: 0.5rem;

	/* Form */

	--bs-form-focus-border-color: var(--bs-primary-border-subtle);
	--bs-form-check-focus-border-color: var(--bs-primary-border-subtle);
}

[data-bs-theme=dark] {
	/* Action (used as needed in buttons, inputs, menu items, page links, etc.) */

	--bs-action-border-color: var(--bs-border-color);

	/* Contextual buttons */

	--bs-ctx-btn-border-color: transparent;
	--bs-ctx-btn-bg-clip: border-box;
}

/**
 * ----------------------------------------------------------------------------
 * [ Buttons ]
 * ----------------------------------------------------------------------------
 */

.btn {
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus-visible {
	background-color: var(--bs-primary-bg-subtle) !important;
	border: var(--bs-border-width) solid hsla(var(--bs-primary-hsl), 0.25) !important;
	text-decoration: none;
}

/**
 * ----------------------------------------------------------------------------
 * [ Form ]
 * ----------------------------------------------------------------------------
 */

/* Floating labels */

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
	padding-top: 1.625rem;
	padding-bottom: 0.625rem;
}

.form-floating > .form-control::-moz-placeholder,
.form-floating > .form-control-plaintext::-moz-placeholder {
	color: var(--bs-tertiary-color);
}

.form-floating > .form-control::placeholder,
.form-floating > .form-control-plaintext::placeholder {
	color: var(--bs-tertiary-color);
}

.form-floating > .form-control ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
	color: var(--bs-secondary-color) !important;
	transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem) !important;
}

.form-floating > .form-control:-webkit-autofill ~ label {
	color: var(--bs-secondary-color) !important;
	transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem) !important;
}

/**
 * ----------------------------------------------------------------------------
 * [ Dropdowns ]
 * ----------------------------------------------------------------------------
 */

.dropdown-menu {
	border: 0;
}
