/**
 * ----------------------------------------------------------------------------
 * NFTY Finance theme
 * Version: Beta
 * Theme for Halfmoon 2.x.x
 * Copyright 2022 - Present, NFTY Finance. All rights reserved
 * ----------------------------------------------------------------------------
 * The above notice must be included in its entirety when this file is used.
 */

@font-face {
	font-family: Urbane;
	src: url("../fonts/Urbane/Urbane-Medium.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: Urbane;
	src: url("../fonts/Urbane/Urbane-DemiBold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: Urbane;
	src: url("../fonts/Urbane/Urbane-Bold.ttf") format("truetype");
	font-weight: 700;
}

:root {
	/* Font related (sizes, weights, family, etc.) */

	--base-font-family: "Urbane", sans-serif;
	--base-font-size: 1.6rem;
	--small-font-size: 1.4rem;
	--large-font-size: 1.8rem;
	--bold-font-weight: 600;

	/* Base background colors */

	--base-body-bg-color: hsl(248, 100%, 98%);

	/* Border related (mostly for utilities) */

	--base-border-radius: 0.6rem;
}

.dark-mode {
	/* Base background colors */

	--base-body-bg-color: var(--dark-color);
	--base-content-bg-color: var(--dark-color-very-light);
}

.readable-mode {
	/* Font related (sizes, weights, family, etc.) */

	--base-font-size: 1.8rem;
	--small-font-size: 1.6rem;
	--large-font-size: 2.0rem;
}

/* System colors */

:root {
	/* NFTY Finance pink */

	--nftyfi-pink-color-hue: 340;
	--nftyfi-pink-color-saturation: 70%;
	--nftyfi-pink-color-lightness: 60%;
	--nftyfi-pink-color-lightness-step-up-1: 65%;
	--nftyfi-pink-color-lightness-step-up-2: 70%;
	--nftyfi-pink-color-lightness-step-down-1: 55%;
	--nftyfi-pink-color-lightness-step-down-2: 50%;

	--nftyfi-pink-color-hsl: var(--nftyfi-pink-color-hue), var(--nftyfi-pink-color-saturation), var(--nftyfi-pink-color-lightness);
	--nftyfi-pink-color-light-hsl: var(--nftyfi-pink-color-hue), var(--nftyfi-pink-color-saturation), var(--nftyfi-pink-color-lightness-step-up-2);
	--nftyfi-pink-color-very-light-hsl: var(--nftyfi-pink-color-hue), var(--nftyfi-pink-color-saturation), 95%;
	--nftyfi-pink-color-dim-hsl: var(--nftyfi-pink-color-hue), var(--nftyfi-pink-color-saturation), var(--nftyfi-pink-color-lightness-step-down-2);
	--nftyfi-pink-color-very-dim-hsl: var(--nftyfi-pink-color-hue), 15%, 15%;

	--nftyfi-pink-color: hsl(var(--nftyfi-pink-color-hsl));
	--nftyfi-pink-color-light: hsl(var(--nftyfi-pink-color-light-hsl));
	--nftyfi-pink-color-very-light: hsl(var(--nftyfi-pink-color-very-light-hsl));
	--nftyfi-pink-color-dim: hsl(var(--nftyfi-pink-color-dim-hsl));
	--nftyfi-pink-color-very-dim: hsl(var(--nftyfi-pink-color-very-dim-hsl));

	--text-color-on-nftyfi-pink-color-bg: var(--white-color);

	/* NFTY Finance purple */

	--nftyfi-purple-color-hue: 287;
	--nftyfi-purple-color-saturation: 47%;
	--nftyfi-purple-color-lightness: 40%;
	--nftyfi-purple-color-lightness-step-up-1: 45%;
	--nftyfi-purple-color-lightness-step-up-2: 50%;
	--nftyfi-purple-color-lightness-step-down-1: 35%;
	--nftyfi-purple-color-lightness-step-down-2: 30%;

	--nftyfi-purple-color-hsl: var(--nftyfi-purple-color-hue), var(--nftyfi-purple-color-saturation), var(--nftyfi-purple-color-lightness);
	--nftyfi-purple-color-light-hsl: var(--nftyfi-purple-color-hue), var(--nftyfi-purple-color-saturation), var(--nftyfi-purple-color-lightness-step-up-2);
	--nftyfi-purple-color-very-light-hsl: var(--nftyfi-purple-color-hue), var(--nftyfi-purple-color-saturation), 95%;
	--nftyfi-purple-color-dim-hsl: var(--nftyfi-purple-color-hue), var(--nftyfi-purple-color-saturation), var(--nftyfi-purple-color-lightness-step-down-2);
	--nftyfi-purple-color-very-dim-hsl: var(--nftyfi-purple-color-hue), 15%, 15%;

	--nftyfi-purple-color: hsl(var(--nftyfi-purple-color-hsl));
	--nftyfi-purple-color-light: hsl(var(--nftyfi-purple-color-light-hsl));
	--nftyfi-purple-color-very-light: hsl(var(--nftyfi-purple-color-very-light-hsl));
	--nftyfi-purple-color-dim: hsl(var(--nftyfi-purple-color-dim-hsl));
	--nftyfi-purple-color-very-dim: hsl(var(--nftyfi-purple-color-very-dim-hsl));

	--text-color-on-nftyfi-purple-color-bg: var(--white-color);
}

/* Context colors */

:root {
	/* Primary colors */

	--primary-color-hue: var(--nftyfi-pink-color-hue);
	--primary-color-saturation: var(--nftyfi-pink-color-saturation);
	--primary-color-lightness: var(--nftyfi-pink-color-lightness);
	--primary-color-lightness-step-up-1: var(--nftyfi-pink-color-lightness-step-up-1);
	--primary-color-lightness-step-up-2: var(--nftyfi-pink-color-lightness-step-up-2);
	--primary-color-lightness-step-down-1: var(--nftyfi-pink-color-lightness-step-down-1);
	--primary-color-lightness-step-down-2: var(--nftyfi-pink-color-lightness-step-down-2);

	--primary-color-hsl: var(--nftyfi-pink-color-hsl);
	--primary-color-light-hsl: var(--nftyfi-pink-color-light-hsl);
	--primary-color-very-light-hsl: var(--nftyfi-pink-color-very-light-hsl);
	--primary-color-dim-hsl: var(--nftyfi-pink-color-dim-hsl);
	--primary-color-very-dim-hsl: var(--nftyfi-pink-color-very-dim-hsl);

	--primary-color: var(--nftyfi-pink-color);
	--primary-color-light: var(--nftyfi-pink-color-light);
	--primary-color-very-light: var(--nftyfi-pink-color-very-light);
	--primary-color-dim: var(--nftyfi-pink-color-dim);
	--primary-color-very-dim: var(--nftyfi-pink-color-very-dim);

	--text-color-on-primary-color-bg: var(--text-color-on-nftyfi-pink-color-bg);

	/* Secondary colors */

	--secondary-color-hue: var(--nftyfi-purple-color-hue);
	--secondary-color-saturation: var(--nftyfi-purple-color-saturation);
	--secondary-color-lightness: var(--nftyfi-purple-color-lightness);
	--secondary-color-lightness-step-up-1: var(--nftyfi-purple-color-lightness-step-up-1);
	--secondary-color-lightness-step-up-2: var(--nftyfi-purple-color-lightness-step-up-2);
	--secondary-color-lightness-step-down-1: var(--nftyfi-purple-color-lightness-step-down-1);
	--secondary-color-lightness-step-down-2: var(--nftyfi-purple-color-lightness-step-down-2);

	--secondary-color-hsl: var(--nftyfi-purple-color-hsl);
	--secondary-color-light-hsl: var(--nftyfi-purple-color-light-hsl);
	--secondary-color-very-light-hsl: var(--nftyfi-purple-color-very-light-hsl);
	--secondary-color-dim-hsl: var(--nftyfi-purple-color-dim-hsl);
	--secondary-color-very-dim-hsl: var(--nftyfi-purple-color-very-dim-hsl);

	--secondary-color: var(--nftyfi-purple-color);
	--secondary-color-light: var(--nftyfi-purple-color-light);
	--secondary-color-very-light: var(--nftyfi-purple-color-very-light);
	--secondary-color-dim: var(--nftyfi-purple-color-dim);
	--secondary-color-very-dim: var(--nftyfi-purple-color-very-dim);

	--text-color-on-secondary-color-bg: var(--text-color-on-nftyfi-purple-color-bg);

	/* Success colors */

	--success-color-hue: var(--green-color-hue);
	--success-color-saturation: var(--green-color-saturation);
	--success-color-lightness: var(--green-color-lightness);
	--success-color-lightness-step-up-1: var(--green-color-lightness-step-up-1);
	--success-color-lightness-step-up-2: var(--green-color-lightness-step-up-2);
	--success-color-lightness-step-down-1: var(--green-color-lightness-step-down-1);
	--success-color-lightness-step-down-2: var(--green-color-lightness-step-down-2);

	--success-color-hsl: var(--green-color-hsl);
	--success-color-light-hsl: var(--green-color-light-hsl);
	--success-color-very-light-hsl: var(--green-color-very-light-hsl);
	--success-color-dim-hsl: var(--green-color-dim-hsl);
	--success-color-very-dim-hsl: var(--green-color-very-dim-hsl);

	--success-color: var(--green-color);
	--success-color-light: var(--green-color-light);
	--success-color-very-light: var(--green-color-very-light);
	--success-color-dim: var(--green-color-dim);
	--success-color-very-dim: var(--green-color-very-dim);

	--text-color-on-success-color-bg: var(--text-color-on-green-color-bg);
}

/* Scrollbar */

:root {
	/* Webkit based browsers (Chrome, Safari, Edge) */

	--webkit-scrollbar-bg-color: transparent;
	--webkit-scrollbar-border-color: transparent;

	--webkit-scrollbar-thumb-border-width: 0.4rem;

	/* Firefox */

	--moz-scrollbar-color: hsl(0, 0%, 76%) transparent;
}

.dark-mode {
	/* Firefox */

	--moz-scrollbar-color: hsl(0, 0%, 62%) transparent;
}

/* Lists */

:root {
	/* Unordered list */

	--unordered-list-item-bullet-width: 0.6rem;
}

/* Buttons */

:root {
	--button-font-weight: var(--bold-font-weight);
	--button-vertical-padding: 0.6rem;
	--button-border-radius: var(--rounded-2-border-radius);

	--small-button-vertical-padding: 0.4rem;

	--large-button-vertical-padding: 0.8rem;

	/* Default button */

	--button-webkit-font-smoothing: var(--base-webkit-font-smoothing);
	--button-moz-osx-font-smoothing: var(--base-moz-osx-font-smoothing);

	--button-text-color: var(--primary-color);
	--button-border-color: var(--primary-color);

	/* Primary button */

	--button-primary-webkit-font-smoothing: var(--base-webkit-font-smoothing);
	--button-primary-moz-osx-font-smoothing: var(--base-moz-osx-font-smoothing);

	/* Secondary button */

	--button-secondary-webkit-font-smoothing: var(--base-webkit-font-smoothing);
	--button-secondary-moz-osx-font-smoothing: var(--base-moz-osx-font-smoothing);

	/* Success button */

	--button-success-webkit-font-smoothing: var(--base-webkit-font-smoothing);
	--button-success-moz-osx-font-smoothing: var(--base-moz-osx-font-smoothing);

	/* Warning button */

	--button-warning-webkit-font-smoothing: var(--base-webkit-font-smoothing);
	--button-warning-moz-osx-font-smoothing: var(--base-moz-osx-font-smoothing);

	/* Danger button */

	--button-danger-webkit-font-smoothing: var(--base-webkit-font-smoothing);
	--button-danger-moz-osx-font-smoothing: var(--base-moz-osx-font-smoothing);

	/* Disabled button */

	--button-disabled-border-color: var(--border-color);
}

.dark-mode {
	/* Default button */

	--button-bg-clip: border-box;

	/* Primary button */

	--button-primary-border-color: transparent;

	/* Secondary button */

	--button-secondary-border-color: transparent;

	/* Success button */

	--button-success-border-color: transparent;

	/* Warning button */

	--button-warning-border-color: transparent;

	/* Danger button */

	--button-danger-border-color: transparent;
}

/* Form */

:root {
	/* Default input */

	--input-border-color: var(--border-color);

	/* Alternate input */

	--input-alt-bg-color: hsl(248, 100%, 98%);

	--input-alt-border-color-focus: var(--input-border-color-focus);
	--input-alt-box-shadow-focus: var(--input-box-shadow-focus);

	/* Form label */

	--form-label-font-weight: var(--bold-font-weight);
	--form-label-margin-bottom: 1.2rem;

	/* Input group text */

	--input-group-text-border-color: var(--border-color);

	/* Checkbox */

	--checkbox-width: 2rem;
	--checkbox-border-width: var(--border-2-border-width);
	--checkbox-border-radius: 0.2rem;

	--checkbox-border-color-focus: var(--input-border-color-focus);
	--checkbox-box-shadow-focus: var(--input-box-shadow-focus);

	/* Range */

	--form-range-height: 3.6rem;
	--form-range-slider-track-box-shadow: none;

	--form-range-slider-track-height: 1rem;
}

.dark-mode {
	/* Default input */

	--input-bg-clip: border-box;

	--input-border-color-focus: var(--primary-color-dim);
	--input-box-shadow-focus: 0 0 0 0.3rem hsla(var(--primary-color-hsl), 0.15);

	/* Alternate input */

	--input-alt-bg-color: var(--darkgray-color-dim);

	/* Range */

	--form-range-slider-track-border-color: transparent;
}

/* Sidebar */

:root {
	--sidebar-width: 29rem;
	--sidebar-padding: 0;
	--sidebar-border-width: 0;

	--sidebar-content-padding: 0.6rem 2rem;
	--sidebar-content-margin: 0.4rem 0.8rem;

	/* Sidebar link */

	--sidebar-link-font-size: var(--small-font-size);
	--sidebar-link-font-weight: var(--bold-font-weight);
	--sidebar-link-margin: 0.4rem 0.8rem;

	--sidebar-link-text-color: var(--muted-text-color);
	--sidebar-link-border-color: transparent;

	/* Active sidebar link */

	--sidebar-link-active-webkit-font-smoothing: var(--sidebar-link-webkit-font-smoothing);
	--sidebar-link-active-moz-osx-font-smoothing: var(--sidebar-link-moz-osx-font-smoothing);

	--sidebar-link-active-text-color: var(--text-color-on-primary-color-bg);
	--sidebar-link-active-bg-color: var(--primary-color);

	--sidebar-link-active-text-color-hover: var(--sidebar-link-active-text-color);

	/* Sidebar icon */

	--sidebar-icon-text-color: var(--sidebar-link-text-color);
	--sidebar-icon-bg-color: transparent;

	--sidebar-icon-text-color-hover: var(--sidebar-link-text-color-hover);

	/* Active sidebar icon */

	--sidebar-icon-active-text-color: var(--sidebar-link-active-text-color);
	--sidebar-icon-active-bg-color: transparent;

	--sidebar-icon-active-text-color-hover: var(--sidebar-link-active-text-color-hover);
}

/* Card */

:root {
	--card-border-radius: var(--rounded-4-border-radius);

	--card-border-color: transparent;
	--card-box-shadow: var(--large-shadow);
}

.card-link .show-on-hover {
	display: none;
}

.card-link:hover .show-on-hover {
	display: block;
}

/* Dropdown */

:root {
	/* Dropdown menu */

	--dropdown-menu-bg-color: var(--base-content-bg-color);
	--dropdown-menu-border-color: var(--border-color);
}

/* Tooltips */

:root {
	--tooltip-text-color: var(--white-color);
	--tooltip-bg-color: var(--black-color);
	--tooltip-box-shadow: none;
}

/* Sticky alerts */

:root {
	--sticky-alerts-width: 34rem;
}

/* Gutter */

.g-content {
	padding: var(--content-and-card-spacing-half);
}

.g-content > * {
	padding: var(--content-and-card-spacing-half);
}

.g-content > * > .content,
.g-content > * > .card {
	margin: 0;
}

/* Shop headers */

.shop-header-pink {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--primary-color-hsl), 0.25) 0,
		hsla(var(--primary-color-hsl), 0.25) 1rem,
		hsla(var(--primary-color-hsl), 0.5) 1rem,
		hsla(var(--primary-color-hsl), 0.5) 2rem
	);
}

.shop-header-pink > .shop-name {
	color: var(--text-color-on-primary-color-bg);
	background-color: var(--primary-color);
}

.shop-header-purple {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--secondary-color-hsl), 0.25) 0,
		hsla(var(--secondary-color-hsl), 0.25) 1rem,
		hsla(var(--secondary-color-hsl), 0.5) 1rem,
		hsla(var(--secondary-color-hsl), 0.5) 2rem
	);
}

.shop-header-purple > .shop-name {
	color: var(--text-color-on-secondary-color-bg);
	background-color: var(--secondary-color);
}

.shop-header-green {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--green-color-hsl), 0.25) 0,
		hsla(var(--green-color-hsl), 0.25) 1rem,
		hsla(var(--green-color-hsl), 0.5) 1rem,
		hsla(var(--green-color-hsl), 0.5) 2rem
	);
}

.shop-header-green > .shop-name {
	color: var(--text-color-on-green-color-bg);
	background-color: var(--green-color);
}

.shop-header-yellow {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--yellow-color-hsl), 0.25) 0,
		hsla(var(--yellow-color-hsl), 0.25) 1rem,
		hsla(var(--yellow-color-hsl), 0.5) 1rem,
		hsla(var(--yellow-color-hsl), 0.5) 2rem
	);
}

.shop-header-yellow > .shop-name {
	color: var(--text-color-on-yellow-color-bg);
	background-color: var(--yellow-color);
}

.shop-header-red {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--red-color-hsl), 0.25) 0,
		hsla(var(--red-color-hsl), 0.25) 1rem,
		hsla(var(--red-color-hsl), 0.5) 1rem,
		hsla(var(--red-color-hsl), 0.5) 2rem
	);
}

.shop-header-red > .shop-name {
	color: var(--text-color-on-red-color-bg);
	background-color: var(--red-color);
}

.shop-header-blue {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--blue-color-hsl), 0.25) 0,
		hsla(var(--blue-color-hsl), 0.25) 1rem,
		hsla(var(--blue-color-hsl), 0.5) 1rem,
		hsla(var(--blue-color-hsl), 0.5) 2rem
	);
}

.shop-header-blue > .shop-name {
	color: var(--text-color-on-blue-color-bg);
	background-color: var(--blue-color);
}

.shop-header-orange {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--orange-color-hsl), 0.25) 0,
		hsla(var(--orange-color-hsl), 0.25) 1rem,
		hsla(var(--orange-color-hsl), 0.5) 1rem,
		hsla(var(--orange-color-hsl), 0.5) 2rem
	);
}

.shop-header-orange > .shop-name {
	color: var(--text-color-on-orange-color-bg);
	background-color: var(--orange-color);
}

.shop-header-teal {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--teal-color-hsl), 0.25) 0,
		hsla(var(--teal-color-hsl), 0.25) 1rem,
		hsla(var(--teal-color-hsl), 0.5) 1rem,
		hsla(var(--teal-color-hsl), 0.5) 2rem
	);
}

.shop-header-teal > .shop-name {
	color: var(--text-color-on-teal-color-bg);
	background-color: var(--teal-color);
}

.shop-header-mint {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--mint-color-hsl), 0.25) 0,
		hsla(var(--mint-color-hsl), 0.25) 1rem,
		hsla(var(--mint-color-hsl), 0.5) 1rem,
		hsla(var(--mint-color-hsl), 0.5) 2rem
	);
}

.shop-header-mint > .shop-name {
	color: var(--text-color-on-mint-color-bg);
	background-color: var(--mint-color);
}

.shop-header-indigo {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--indigo-color-hsl), 0.25) 0,
		hsla(var(--indigo-color-hsl), 0.25) 1rem,
		hsla(var(--indigo-color-hsl), 0.5) 1rem,
		hsla(var(--indigo-color-hsl), 0.5) 2rem
	);
}

.shop-header-indigo > .shop-name {
	color: var(--text-color-on-indigo-color-bg);
	background-color: var(--indigo-color);
}

/* Details/Summary */

.show-open {
	display: none;
}

details[open] .show-open {
	display: block;
}

.show-closed {
	display: none;
}

details:not([open]) .show-closed {
	display: block;
}

/* Utilities */

.bg-primary-gradient {
	background-image: repeating-linear-gradient(
		90deg,
		var(--primary-color),
		var(--secondary-color)
	) !important;
}

.bg-primary-striped {
	background-image: repeating-linear-gradient(
		45deg,
		hsla(var(--primary-color-hsl), 0.25) 0,
		hsla(var(--primary-color-hsl), 0.25) 1rem,
		hsla(var(--primary-color-hsl), 0.5) 1rem,
		hsla(var(--primary-color-hsl), 0.5) 2rem
	) !important;
}

.cursor-pointer {
	cursor: pointer !important;
}

.list-style-none {
	list-style: none !important;
}

.border-blend {
	border-color: var(--base-content-bg-color) !important;
}

/* React slider */

.react-slider {
	cursor: pointer;
	width: var(--form-range-width);
	height: var(--form-range-height);
}

.react-slider-thumb {
	width: var(--form-range-slider-thumb-width);
	height: var(--form-range-slider-thumb-height);
	background-color: var(--form-range-slider-thumb-bg-color);
	border: var(--form-range-slider-thumb-border-style);
	border-width: var(--form-range-slider-thumb-border-width);
	border-color: var(--primary-color);
	border-radius: var(--form-range-slider-thumb-border-radius);
	box-shadow: 0 0 0 1px var(--primary-color);
}

.react-slider-thumb:focus {
	box-shadow: 0 0 0 1px var(--primary-color), var(--form-range-slider-thumb-box-shadow-focus);
	outline: var(--form-range-slider-thumb-outline-focus);
}

.react-slider-track {
	position: relative;
	top: 1.4rem;
	height: 0.8rem;
	background: var(--form-range-slider-track-bg-color);
	border-radius: 0.8rem;
}

.react-slider-track.react-slider-track-0 {
	background: var(--primary-color);
}
